[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
"h5py" = "*"
scikit-image = "*"
pydicom = "*"
torch = "==0.4.1"
torchvision = "*"
numpy = "*"
opencv-python = "*"
imageio = "*"
simpleitk = "*"
pyhive = {extras = ["hive"], version = "*"}
"oss2" = "*"
suanpan = {path = "./../AiLab"}

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.6"
